<% layout('layouts/boilerplate') %>

 
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Create a new Listing</h3>
        <br><br>
        <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input
              type="text"
              name="listing[title]"
              placeholder="Enter title"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter title!</div>
            <div class="valid-feedback">Title looks good</div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea
              name="listing[description]"
              placeholder="Enter description"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">Please enter short description!</div>
          </div>
          <!-- Nested image object fields -->
          <div class="mb-3">
            <label for="image-filename" class="form-label">Image:</label>
            <input
              type="text"
              name="listing[image][filename]"
              placeholder="Image filename"
              class="form-control"
            />
          </div>
           
           <div class="mb-3">
            <label for="image-url" class="form-label">Image URL:</label>
            <input
              type="file"
              name="listing[image]"
              class="form-control"
           
            />
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price:</label>
              <input
                name="listing[price]"
                placeholder="₹1200"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country:</label>
              <input
                type="text"
                name="listing[country]"
                placeholder="India"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Country should be valid</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="Gorkhapur-Uttar Pradesh"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Location should be valid</div>
          </div>
          <br><br>
          <button type="submit" class="btn btn-dark add-btn">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
 