<% layout('layouts/boilerplate') %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <h3>Login on WanderLust</h3>
    <br /><br />
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div>  <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="username"
         class="form-control"
        placeholder="Enter username"
        required
      />
       <div class="invalid-feedback">Please enter username!</div>
        <div class="valid-feedback">Username looks good!</div>
      </div>
      
      <div>
       <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
         class="form-control"
        placeholder="Enter password"
        required
      />
        <div class="invalid-feedback">Please enter correct password!</div>
      </div>
        <br/><br/>
      <button type="submit"  class="btn btn-dark add-btn">login</button>
    </form>
  
  </div>
</div>
